@font-face {
  font-family: "AmericanSignature";
  src: url(./assets/fonts/fonts/AmericanSignature.ttf) format("truetype");
}
@font-face {
  font-family: "Breathing";
  src: url(./assets/fonts/fonts/Breathing.ttf) format("truetype");
}
@font-face {
  font-family: "AmeyallindaSignature";
  src: url(./assets/fonts/fonts/AngelSignature.ttf) format("truetype");
}

@font-face {
  font-family: "Angelface";
  src: url(./assets/fonts/fonts/Angelface.ttf) format("truetype");
}
@font-face {
  font-family: "AngelSignature";
  src: url(./assets/fonts/fonts/AngelSignature.ttf) format("truetype");
}
@font-face {
  font-family: "AuthenticCity";
  src: url(./assets/fonts/fonts/AuthenticCity.ttf) format("truetype");
}
@font-face {
  font-family: "Cherolina";
  src: url(./assets/fonts/fonts/Cherolina.ttf) format("truetype");
}
@font-face {
  font-family: "Fabulist";
  src: url(./assets/fonts/fonts/Fabulist.ttf) format("truetype");
}
@font-face {
  font-family: "FancyDelight";
  src: url(./assets/fonts/fonts/FancyDelight.ttf) format("truetype");
}
@font-face {
  font-family: "FunkySignature";
  src: url(./assets/fonts/fonts/FunkySignature.ttf) format("truetype");
}
@font-face {
  font-family: "GreatDayPersonalUse";
  src: url(./assets/fonts/fonts/GreatDayPersonalUse.ttf) format("truetype");
}
@font-face {
  font-family: "LoveNeon";
  src: url(./assets/fonts/fonts/LoveNeon.ttf) format("truetype");
}
@font-face {
  font-family: "MADESoulmazeOutline";
  src: url(./assets/fonts/fonts/MADESoulmazeOutline.ttf) format("truetype");
}
@font-face {
  font-family: "MilestoneOutline";
  src: url(./assets/fonts/fonts/MilestoneOutline.ttf) format("truetype");
}
@font-face {
  font-family: "MountainSignature";
  src: url(./assets/fonts/fonts/MountainSignature.ttf) format("truetype");
}
@font-face {
  font-family: "NeonCityScript";
  src: url(./assets/fonts/fonts/NeonCityScript.ttf) format("truetype");
}
@font-face {
  font-family: "NeonClubMusic";
  src: url(./assets/fonts/fonts/NeonClubMusic.ttf) format("truetype");
}
@font-face {
  font-family: "NightVibesFreeVersion";
  src: url(./assets/fonts/fonts/NightVibesFreeVersion.ttf) format("truetype");
}
@font-face {
  font-family: "Photogenic";
  src: url(./assets/fonts/fonts/Photogenic.ttf) format("truetype");
}
@font-face {
  font-family: "QueensidesLight";
  src: url(./assets/fonts/fonts/QueensidesLight.ttf) format("truetype");
}
@font-face {
  font-family: "Quensialy";
  src: url(./assets/fonts/fonts/Quensialy.ttf) format("truetype");
}
@font-face {
  font-family: "RainbowColorsRegular";
  src: url(./assets/fonts/fonts/RainbowColorsRegular.ttf) format("truetype");
}
@font-face {
  font-family: "RetroSignature";
  src: url(./assets/fonts/fonts/RetroSignature.ttf) format("truetype");
}
@font-face {
  font-family: "SidecarBold";
  src: url(./assets/fonts/fonts/SidecarBold.ttf) format("truetype");
}
@font-face {
  font-family: "SidecarSans4";
  src: url(./assets/fonts/fonts/SidecarSans4.ttf) format("truetype");
}
@font-face {
  font-family: "Speedeasy";
  src: url(./assets/fonts/fonts/Speedeasy.ttf) format("truetype");
}
@font-face {
  font-family: "Tomatoes";
  src: url(./assets/fonts/fonts/Tomatoes.ttf) format("truetype");
}
@font-face {
  font-family: "Vultures";
  src: url(./assets/fonts/fonts/Vultures.ttf) format("truetype");
}
@font-face {
  font-family: "Watterline";
  src: url(./assets/fonts/fonts/Watterline.ttf) format("truetype");
}
@font-face {
  font-family: "NeonFeel";
  src: url(./assets/fonts/fonts/NeonFeel.ttf) format("truetype");
}
@font-face {
  font-family: "NeonLite";
  src: url(./assets/fonts/fonts/NeonLite.ttf) format("truetype");
}
@font-face {
  font-family: "NeonGlow";
  src: url(./assets/fonts/fonts/NeonGlow.ttf) format("truetype");
}
@font-face {
  font-family: "Sorrento";
  src: url(./assets/fonts/fonts/Sorrento.ttf) format("truetype");
}
@font-face {
  font-family: "Darlington";
  src: url(./assets/fonts/fonts/Darlington.ttf) format("truetype");
}
