@font-face {
  font-family: "Alexa";
  src: url(/src/assets/fonts/fonts/Alexa.ttf) format("truetype");
}
@font-face {
  font-family: "Breathing";
  src: url(/src/assets/fonts/fonts/Breathing.ttf) format("truetype");
}
@font-face {
  font-family: "Amanda";
  src: url(/src/assets/fonts/fonts/Amanda.ttf) format("truetype");
}
@font-face {
  font-family: "Amsterdam";
  src: url(/src/assets/fonts/fonts/Amsterdam.ttf) format("truetype");
}
@font-face {
  font-family: "Austin";
  src: url(/src/assets/fonts/fonts/Austin.ttf) format("truetype");
}
@font-face {
  font-family: "Avante";
  src: url(/src/assets/fonts/fonts/Avante.ttf) format("truetype");
}
@font-face {
  font-family: "Barcelona";
  src: url(/src/assets/fonts/fonts/Barcelona.ttf) format("truetype");
}
@font-face {
  font-family: "Bayview";
  src: url(/src/assets/fonts/fonts/Bayview.ttf) format("truetype");
}
@font-face {
  font-family: "Beachfront";
  src: url(/src/assets/fonts/fonts/Beachfront.ttf) format("truetype");
}
@font-face {
  font-family: "Bellview";
  src: url(/src/assets/fonts/fonts/Bellview.ttf) format("truetype");
}
@font-face {
  font-family: "Buttercup";
  src: url(/src/assets/fonts/fonts/Buttercup.ttf) format("truetype");
}
@font-face {
  font-family: "Chelsea";
  src: url(/src/assets/fonts/fonts/Chelsea.ttf) format("truetype");
}
@font-face {
  font-family: "ClassicType";
  src: url(/src/assets/fonts/fonts/ClassicType.ttf) format("truetype");
}
@font-face {
  font-family: "Freehand";
  src: url(/src/assets/fonts/fonts/Freehand.ttf) format("truetype");
}
@font-face {
  font-family: "Freespirit";
  src: url(/src/assets/fonts/fonts/Freespirit.ttf) format("truetype");
}
@font-face {
  font-family: "Greenworld";
  src: url(/src/assets/fonts/fonts/Greenworld.ttf) format("truetype");
}
@font-face {
  font-family: "LoveNeon";
  src: url(/src/assets/fonts/fonts/LoveNeon.ttf) format("truetype");
}
@font-face {
  font-family: "LoveNote";
  src: url(/src/assets/fonts/fonts/LoveNote.ttf) format("truetype");
}
@font-face {
  font-family: "Marquee";
  src: url(/src/assets/fonts/fonts/Marquee.ttf) format("truetype");
}
@font-face {
  font-family: "Mayfair";
  src: url(/src/assets/fonts/fonts/Mayfair.ttf) format("truetype");
}
@font-face {
  font-family: "Melbourne";
  src: url(/src/assets/fonts/fonts/Melbourne.ttf) format("truetype");
}
@font-face {
  font-family: "Monaco";
  src: url(/src/assets/fonts/fonts/Monaco.ttf) format("truetype");
}
@font-face {
  font-family: "NeonGlow";
  src: url(/src/assets/fonts/fonts/NeonGlow.ttf) format("truetype");
}
@font-face {
  font-family: "NeonLite";
  src: url(/src/assets/fonts/fonts/NeonLite.ttf) format("truetype");
}
@font-face {
  font-family: "Neonscript";
  src: url(/src/assets/fonts/fonts/Neonscript.ttf) format("truetype");
}
@font-face {
  font-family: "Neontrace";
  src: url(/src/assets/fonts/fonts/Neontrace.ttf) format("truetype");
}
@font-face {
  font-family: "NeoTokyo";
  src: url(/src/assets/fonts/fonts/NeoTokyo.ttf) format("truetype");
}
@font-face {
  font-family: "Nevada";
  src: url(/src/assets/fonts/fonts/Nevada.ttf) format("truetype");
}
@font-face {
  font-family: "NewCursive";
  src: url(/src/assets/fonts/fonts/NewCursive.ttf) format("truetype");
}
@font-face {
  font-family: "Northshore";
  src: url(/src/assets/fonts/fonts/Northshore.ttf) format("truetype");
}
@font-face {
  font-family: "Photogenic";
  src: url(/src/assets/fonts/fonts/Photogenic.ttf) format("truetype");
}
@font-face {
  font-family: "Rocket";
  src: url(/src/assets/fonts/fonts/Rocket.ttf) format("truetype");
}
@font-face {
  font-family: "Royalty";
  src: url(/src/assets/fonts/fonts/Royalty.ttf) format("truetype");
}
@font-face {
  font-family: "SciFi";
  src: url(/src/assets/fonts/fonts/SciFi.ttf) format("truetype");
}
@font-face {
  font-family: "Signature";
  src: url(/src/assets/fonts/fonts/Signature.ttf) format("truetype");
}
@font-face {
  font-family: "Sorrento";
  src: url(/src/assets/fonts/fonts/Sorrento.ttf) format("truetype");
}
@font-face {
  font-family: "Typewriter";
  src: url(/src/assets/fonts/fonts/Typewriter.ttf) format("truetype");
}
@font-face {
  font-family: "Venetian";
  src: url(/src/assets/fonts/fonts/Venetian.ttf) format("truetype");
}
@font-face {
  font-family: "Vintage";
  src: url(/src/assets/fonts/fonts/Vintage.ttf) format("truetype");
}
@font-face {
  font-family: "Waikiki";
  src: url(/src/assets/fonts/fonts/Waikiki.ttf) format("truetype");
}
@font-face {
  font-family: "WildScript";
  src: url(/src/assets/fonts/fonts/WildScript.ttf) format("truetype");
}
